body {
  font-family: "Comic Sans MS";
  background: #eee;
}

header,
footer {
  text-align: center;
}

section {
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  border-radius: 10px;
}
